@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

.navbar {
  position: absolute;
  top: 0;
  width: 100%; 
  z-index: 2000;
  background-color: transparent !important;
}

.navItem {
  margin-bottom: 0.1em;
}

.navbar-nav:last-child {
  border-bottom: 1px solid #B8A99E;
}

.navItem {
  display: flex;
  align-items: center;
  border-top: 1px solid #B8A99E;
}

.navItem:first-child {
  border: none;
}

.navLink {
  transition: color 0.3s ease; 
}

.navLink:hover {
  color: #007A8D; 
}

.navItem a {
  text-decoration: none;
  color: #571D3E;
  font-size: 1.3rem;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.8rem;
  transition: color 0.8s ease;
}

.offcanvas-body, .offcanvas-header, .canvas-footer {
  background-color: #F4F1E4;
}

.offcanvas-header {
  height: 5%;
  justify-content: end;
}

.canvas-footer {
  padding: 0.8em;
}

.cardNavbar {
  width: fit-content;
  height: fit-content;
  background-color: #F4F1E4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: none;
  margin-top: 1.5em;
  padding: 0.8em;
}

.rdvBtncontainer {
  background-color: #F4F1E4;
  padding: 1.6em;
  padding-left: 0.8em;
}

.rdvNav {
  color:#F4F1E4;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.5em;
  background-color: #571D3E;
  margin-left: 0.5em;
  border: none;
}

.rdvLink {
  color: #F4F1E4;
  text-decoration: none;
}

.phoneInfo, .hoursInfo {
  display: flex;
  padding: 1em;
}

.phoneText {
  display: flex;
  flex-direction: column;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin-left: 0.8em;
  color: #571D3E;
}

.phoneIcone, .hoursIcone {
  width: 8%;
  display: flex;
  justify-content: center; 
  align-items: center;     

}

.fa-phone, .fa-clock {
  color:#571D3E; 
}

.hoursText {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 1rem;
  margin-left: 0.8em;
  color: #571D3E;
}
.hoursInfo {
  display:flex;
  align-items: center;
  border-top: 1px solid #B8A99E;
}

.listHour {
  list-style: none;
  padding-left: 0.8em;
}

.hourItem {
  color: #571D3E;
  font-family: "Pathway Gothic One", sans-serif;
}

.canvas-footer {
  padding: 0;
  padding-top: 2em;
}


.permTel {
  text-decoration: none;
  margin-left: 0.8em;
  color: #571D3E;
  font-family: "Pathway Gothic One", sans-serif;
}

.permLien {
  text-decoration: none;
  color: #571D3E;
  text-decoration: underline;
}